.main-menu {
    -fx-padding: 20px;
    -fx-background-color: linear-gradient(to bottom right, white 50%, #3498db 50%); /* Diagonal half white, half blue */
    -fx-alignment: center;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.header-title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
    -fx-padding-bottom: 20px;
}

.btn-box .btn {
    -fx-padding: 15px 30px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
}

.btn {
    -fx-padding: 15px 30px;
    -fx-font-size: 18px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}
.btn-box {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-max-width: 800px;
    -fx-background-radius: 25px;
}
.btn-primary {
    -fx-background-color: #3498db;
    -fx-text-fill: #fff;
}

.btn-primary:hover {
    -fx-background-color: #2980b9;
}

.btn-secondary {
    -fx-background-color: #95a5a6;
    -fx-text-fill: #fff;
}

.btn-secondary:hover {
    -fx-background-color: #7f8c8d;
}

.btn-success {
    -fx-background-color: #2ecc71;
    -fx-text-fill: #fff;
}

.btn-success:hover {
    -fx-background-color: #27ae60;
}

.news-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding-top: 20px;
}

.news-list {
    -fx-pref-height: 200px;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: #2c3e50;
    -fx-control-inner-background: #ffffff;
    -fx-control-inner-background-alt: #e0e0e0;
    -fx-selection-bar: #3498db;
    -fx-selection-bar-text: #ffffff;
}